*{
    margin: 0;
    padding: 0vh 1.5vw;
}
#my{
zoom: 100%;
}

.content-kontakt{background-image: url(img/aussen-2.jpg);background-repeat: no-repeat;
    background-attachment: fixed; background-size: 100% 100%;}
.content{
    /* background-image: url(img/ur_outside.png); */
/*     background-image: url(img/aussen-1.jpg); */
    animation: content-slideShow 7s infinite;
    background-repeat: no-repeat;
/*     background-attachment: fixed; */
    background-size: 100% 100%;
}
@keyframes content-slideShow {
      0% {
        background-image: url(img/aussen-2.jpg);
      }
      33% {
        background-image: url(img/aussen-1.jpg);
      }
      66% {
        background-image: url(img/aussen-3.jpg);
      }
      100% {
        background-image: url(img/aussen-2.jpg);
      }
      
}
.karten_background{
    /* background-image: url(img/ur_inside.jpg); */
/*     background-image: url(img/innen-1.jpg); */
    animation: karten-slideShow 7s infinite;
    background-repeat: no-repeat;
/*     background-attachment: fixed; */
    background-size: 100% 100%;

}
@keyframes karten-slideShow {
      0% {
        background-image: url(img/innen-1.jpg);
      }
      33% {
        background-image: url(img/innen-2.jpg);
      }
      66% {
        background-image: url(img/innen-1.jpg);
      }
      100% {
        background-image: url(img/innen-2.jpg);
      }
}

.navbar{
    background-color: white;
    border-radius: 0px 0px 1em 1em;
    display: flex;
    /* justify-content:flex-start; */
    justify-content:space-between;
    align-items: center;
    position: sticky;
    top: 0;
    overflow: hidden;
}
.logo{
    height: 7em;
    width: 7em;
}
.header-links a{
    color: black;
    flex-direction: row;
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 30px;
    font-size: 25px;

}
.header-links a:hover{
    background-color: black;
    color: white;
    transition-duration: 0.5s;
}



.menu_button{
    /* height: 7em;
    width: 7em; */
    background-color: gray;
    border-radius: 1em;
}
.menu_button:hover{
    background-color: black;
    color: white;
    transition-duration: 0.5s;
    border-radius: 20px;   
}

.x_button{
    /* height: 7em;
    width: 7em; */
    background-color: gray;
}
.x_button:hover{
    background-color: black;
    color: white;
    transition-duration: 0.5s;
    border-radius: 10px;   
}
#sidebar-active{
    display: none;
}
.open-sidebar-button, .close-sidebar-button{
    display: none;
}
.kontakt_container {
  border-radius: 5px;
  /* background-color: #f2f2f2; */
  background-color: rgb(236, 236, 236, 0.6);
  padding: 10px;
}
@media(min-width: 1025px) {
  .kontakt_container {
    width: 40%;}
    nav{
        width: 40%;
    }
}
@media(max-width: 689px) {
  .kontakt_container {
    width: 93%;}
    nav{
        width: 93%;
    }
}
@media(max-width: 1024px) {
  .kontakt_container {
    width: 93%;}
    nav{
        width: 93%;
    }
}

@media(max-width: 1024px){
    .logo{
        height: 4em;
        width: 4em;    
    }
    .menu_button{
        /* height: 2em; */
        width: 2em;   
    }
    .x_button{
        /* height: 1em; */
        width: 1em;       
    }
    .navbar{
        background-color: white;
        display: flex;
        justify-content:flex-start;
        justify-content:space-between;
        /* font-size: 30px; */
        align-items: center;
        padding: 10px 5px;
        position: sticky;
        top: 0;
        overflow: hidden;
        
        
        /* border-radius: 0px 0px 30px 30px; */
    }
    .header-links{
        padding: 30px 5px;
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 20px;
        width: 140px;
        height: 100%;
        background-color: rgb(171, 171, 171, 0.7);
        border-radius: 0px 0px 0px 50em;
        box-shadow: -5px 0px 5px rgba(0, 0, 0, 0.25);
        transition: 0.3s ease-out;
    }
    .header-links a{
        box-sizing: border-box;
        height: auto;
        width: 100%;
        font-size: 20px;
        justify-content: flex-start;
    }
    .open-sidebar-button, .close-sidebar-button{
        padding: 20px;
        display: block;
        margin-inline-start:auto;
    }
    #sidebar-active:checked ~ .header-links{
        right: 0;
    }
    #sidebar-active:checked ~ .open-sidebar-button{
        display: none;
    }
    #sidebar-active:checked ~ #overlay{
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left:0;  
    }
    .landing-page-style{
        flex-direction: row;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5% 5%;
    }
    .landing-page-text{
        background-color: rgb(0,0,0,0.6);
        padding: 20px 20px;
        width: 50em;
        font-size: 12px;
        border-radius: 30px 30px 30px 30px;
        color: white;
    }
    .uber-uns-img{width: 20em;}
    .space{
        width: 20px;
    }
    .fa {
        padding: 10px;
        font-size: 12px;
        width: 9px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
        border-radius: 50%;
    }
    .karten-landing-style{
        background-color: rgba(0, 0, 0, 0.6);
        border-radius: 10px;
        font-size: 20px;
    }
    .karten_space{
        height: 20px;
    }
    nav{
        font-size: 20px;
    }
}

@media(max-width: 689px){
    .logo{
        height: 4em;
        width: 4em;    
    }
    .menu_button{
        /* height: 2em; */
        width: 2em;   
    }
    .x_button{
        width: 1em;       
    }
    .navbar{
        background-color: white;
        display: flex;
        justify-content:flex-start;
        justify-content:space-between;
        /* font-size: 30px; */
        align-items: center;
        padding: 10px 5px;
        position: sticky;
        top: 0;
        overflow: hidden;
        /* border-radius: 0px 0px 30px 30px; */
    }
    .header-links{
        /* padding: 30px 5px; */
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 20px;
        width: 140px;
        height: 100%;
        background-color: rgb(171, 171, 171, 0.95);
        border-radius: 0px 0px 0px 50em;
        box-shadow: -5px 0px 5px rgba(0, 0, 0, 0.25);
        transition: 0.3s ease-out;
    }
    .header-links a{
        box-sizing: border-box;
        height: auto;
        width: 100%;
        font-size: 20px;
        justify-content: flex-start;
    }
    .open-sidebar-button, .close-sidebar-button{
        padding: 20px;
        display: block;
    }
    #sidebar-active:checked ~ .header-links{
        right: 0;
    }
    #sidebar-active:checked ~ .open-sidebar-button{
        display: none;
    }
    #sidebar-active:checked ~ #overlay{
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left:0;  
    }
    .landing-page-style{
        flex-direction: column;
        align-items: flex-start;
        padding: 5% 5%;
    }
    .landing-page-text{
        background-color: rgb(0,0,0,0.6);
        padding: 20px 20px;
        width: 87%;
        font-size: 12px;
        border-radius: 30px 30px 30px 30px;
        color: white;
    }
    .uber-uns-img{width: 95%;}
    .space{
        height: 20px;
    }
    .fa {
        padding: 12px;
        font-size: 8px;
        width: 9px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;
    }
    .karten-landing-style{
        background-color: rgba(0, 0, 0, 0.6);
        border-radius: 10px;
        font-size: 15px;
    }
    .karten_space{
        height: 20px;
    }
    nav{
        font-size: 15px;
    }
}

@media(min-width: 1025px){
    .landing-page-style{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5% 5%;
    }
    .column-right{
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        align-items: center;
    }
    .row-right{
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }

    .landing-page-text{
        background-color: rgb(0,0,0,0.6);
        padding: 60px 60px;
        width: 400em;
        font-size: 20px;
        border-radius: 30px 30px 30px 30px;
        color: white;
    }
    .uber-uns-img{width: 30em;}
    .landing-page-right{
        width: 400em;
    }
    .space{
        width: 20px;
    }
    .height-space{
        height: 20px;
    }
    .fa {
        padding: 9px;
        font-size: 8px;
        width: 15px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
        border-radius: 50%;
    }
    .karten-landing-style{
        background-color: rgba(0, 0, 0, 0.6);
        border-radius: 10px;
        font-size: 30px;
    }
    .karten_space{
        height: 20px;
    }
    nav{
        font-size: 30px;
    }

}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


.karten_style{
    background-color: #B7B5BA;
    position: absolute;
    top:20%;
    left:50%;
    margin-top:10%; 
    margin-left:-250px; 
    color: rgba(0, 0, 0, 0.25);
    width: 400px;
    /* font-size: 30px; */
    /* position: center;
    padding: 10px;
    margin: 50px;
    width: 400px; */
    padding: 20px 50px;
    border-radius: 30px 30px 30px 30px;



}

/* nav {
    background-color: #ffffff;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
    padding: 30px;
    border-bottom: 1px solid #000000;
}


.gericht-name {
    font-weight: bold;
    color: white;
}

.preis {
    float: right;
    color: white;
}

.beschreibung {
    font-style: italic;
    color: white;
}

.title{
    color: white;
} */

.nav2{
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 0px;
    color: white;
    border-radius: 10px;
    border: brown;
    font-style: italic;
    font-size: x-large;
}
nav {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 0px;
    color: white;
    border-radius: 10px;
    border: brown;
    font-style: italic;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
    padding: 10px;
    border-bottom: 1px solid #ffffff;
}

.gericht-name {
    font-weight: bold;
    color: white;
}

.preis {
    float: right;
    color: white;
}

.beschreibung {
    font-style: italic;
    color: white;
}
.title{
    color: white;
}



/* kontakt_body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

kontakt_input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

kontakt_input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

kontakt_input[type=submit]:hover {
  background-color: #45a049;
}

.kontakt_container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
} */
.block-animation{
    animation: appear 5s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

@keyframes appear{
    from{
        opacity: 0;
        scale: 0.4;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}
